@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    font-weight: 600;
    color: #6F2A5E;
    background: #FFD412;
    box-shadow: 0px 10px 40px #00000056;
}

header > p {
    margin: 0%;
    padding: 15px;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #6F2A5E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 22vw;
}

.left-login > h1 {
    margin-left: 100px;
    font-size: 3vw;
    color: #E2BC0F;
    text-shadow: 0px 10px 40px #00000056;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #943b7e;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #E2BC0F;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #b35e9d;
    color: black;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login {
    width: 90%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 8px;
    background: #E2BC0F;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #d4b93f;
}

.btn-login:hover{
    width: 100%;
}

footer {
    width: 100%;
    background: #b35e9d;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer > p {
    margin: 0%;
}

footer > p > a {
    text-decoration: none;
    color: #501e43;
    font-weight: 600;
    
}

footer > p > a:hover {
    text-decoration: underline;

}


@media only screen and (max-width: 950px){
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    img {
        width: 50vw;
        margin-bottom: 40px;
    }

    .card-login {
        width: 65%;
    }
}

